<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>Copyright &copy; 2016 Pelletstown Educate Together National School</p>
            </div>
            <div class="col-md-4">
                <ul class="text-center social-icons">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-envelope-o"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
